.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 13%
    right: 35%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateX(15px)

  100%
    transform: translateX(0px)

.introduccion
  .bloque-texto-g__img
    background-color: $color-adicional-1

.tema1
  .tarjeta-avatar 
    height: 90%
    position: relative
    padding-top: 42px
    .tarjeta 
      padding-left: 1.2rem
      padding-right: 1.2rem
      p
        font-weight: bold
  .tarjeta.tarjeta--custom
    background-color: #FFFFFF
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
  .cajon.color--azul
    background-color: #DDF6FF
  .cajon.color--gris
    background-color: #ECE3FF
  .sin-fondo
    background-color: #FFFFFF

  .modal-a__content
    background-color: $color-secundario !important
  .modal-a__close-btn
    color: #FFFFFF

.tema2
  .linea-tiempo-d__item__content__title
    height: auto
    padding-top: 1rem!important
    padding-bottom: 1rem!important
  .tabla-b__header
    border-top: 5px solid $color-acento-botones
  .cajon.color--azul
    background-color: #DDF6FF
  .cajon.color--gris
    background-color: #ECE3FF
  .tarjeta.tarjeta--custom
    background-color: #FFFFFF
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
  .bloque-texto-g__texto
    width: 70%

.fas.fa-caret-right
  color:#AD84FF

 
@media screen and (max-width: 1024px)
  .slyder-a__bullets
    width: 80%
  .slyder-a__bullets__item
    margin: auto
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    height: 32px
    width: 32px

@media screen and (width: 390px) 
  .cs-me-5
    margin-right: 3rem !important
  .slyder-b__slyde
    .row
      margin-right: 3rem !important
@media screen and (width: 768px)
  .cs-me-5
    margin-right: 5rem !important
  .slyder-b__slyde
    .row
      margin-right: 5rem !important
@media screen and (width: 844px)
  .cs-me-5
    margin-right: 4rem !important
  .slyder-b__slyde
    .row
      margin-right: 4rem !important
@media screen and (width: 820px)
  .cs-me-5
    margin-right: 4rem !important
  .slyder-b__slyde
    .row
      margin-right: 3rem !important
@media screen and (width: 1180px)
  .cs-me-5
    margin-right: 5rem !important
  .slyder-b__slyde
    .row
      margin-right: 5rem !important

@media screen and (max-width: 1024px)
  .tabla-a table
    width: auto