.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 13%
    right: 35%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateX(15px)

  100%
    transform: translateX(0px)

.introduccion
  .bloque-texto-g__img
    background-color: $color-adicional-1

.tema1
  .tarjeta-avatar 
    height: 90%
    position: relative
    padding-top: 42px
    .tarjeta 
      padding-left: 1.2rem
      padding-right: 1.2rem
      p
        font-weight: bold
  .tarjeta.tarjeta--custom
    background-color: #FFFFFF
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
  .cajon.color--azul
    background-color: #DDF6FF

.tema2
  .linea-tiempo-d__item__content__title
    height: auto
    padding-top: 1rem!important
    padding-bottom: 1rem!important
  .tabla-b__header
    border-top: 5px solid $color-acento-botones
